
.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.observacao{
    
    textarea{
        width: 800px;
        border-radius: 0.3rem;
        color:var(--black);
        height:110px;
        padding:0.5rem;
        overflow: hidden;
    }
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    
}

.enviar{
    gap: 2rem;
    width: 80%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button{
        width: 200px;
        height: 35px;

    }
    div{
        gap:1rem;
        display: flex;
        flex-direction: column;
    }
}

.atraso{
    margin-top: 2rem;
    width: 500px;
    display: flex;
    align-items: center;
}

.atrasoContent{
    display: flex;
    align-items: center;
}

.alvara{
    width: 400px;
    textarea{
        width: 100%;
    }
}

.envio{
    width: 200px;
    margin: 1rem 0;
}