

.content{
    color: var(--black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    p{
        margin-top: 1rem;
        padding: 0.3rem;
        color: var(--black);
        font-size: 1.1rem;
    }
    strong{
        font-size: 1.1rem;
    }
    overflow: auto;
    .observacao{
        background-color:#dddddf;;
        color: var(--black);
        width: 550px;
        height: 150px;
        border-radius: 0.3rem;
        padding: 1rem;
        word-wrap: break-word;
        margin: 1rem 0;
        overflow: auto;
    }
    
    .reenvio{
        background-color:#dddddf;;
        color: var(--black);
        width: 550px;
        height: 130px;
        border-radius: 0.3rem;
        padding: 1rem;
        word-wrap: break-word;
        margin: 1rem 0;
        overflow: auto;
    }
    .prazo{
        color: var(--white);
        padding: 0.57rem;
        margin-left: 1rem;
        border-radius: 0.2rem;
        height: 35px;
    }
    .alvara{
        background-color: #dddddf;
        padding: 1rem;
    }
 
}


.finais{
    margin: 1rem 0;
    height: 300px;
    padding: 1rem;
    gap: 2rem;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--white);
    border: 1px solid #dddddf;

}

.button{
    display: flex;
    margin: 2rem 0;
    gap: 1rem;
  
    button{
        width: 200px;
        height: 35px;
    }
}


.lotes{
    border-radius: 0.2rem;
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid #dddddf;
    padding: 1rem;
}



.detalhes{
    margin: 1rem 0;
    height: 300px;
    padding: 1rem;
    gap: 2rem;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--white);
    border: 1px solid #dddddf;
}

.detalhesItem{
    
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    p{  
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 170px;
        padding: 0.5rem;
    }
    .respondido{
        padding: 1.2rem;
        border-radius: 0.2rem;
        width: 150px;
        height: 65px;
        background-color: #dddddf;
    
    }

  
}


.buttonIcon{
    padding-left: 1rem;
}


.prazoAntes{background-color: var(--color2);}
.prazoAtraso{
    background-color: var(--red);
}
.prazoUltimo{
    background-color: var(--yellow);
}



.descricao{
    background-color: var(--white);
    border: 1px solid #dddddf;
    border-radius: 0.2rem;
    padding: 1rem;
    display: flex;
    width: 700px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.descricaoResposta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tableContainer{
    width: 650px;
    margin: 1rem 0;
    padding: 1rem 0;
}
.table{
    td,th{
        width: 30%;
    }
}

.table2{
    td,th{
        width: 25%;
    }
}