.button{
    border:none;
    border-radius: 0.2rem;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 35px;
    height: 30px;
}

.redbg{
     background-color: var(--red);
}

.greenbg{
    background-color: var(--color2);
}