
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin-top: 1rem;
    }
    strong{
        font-size: 1.1rem;
    }
    overflow: auto;
}

.button{
    margin-top: 2rem;
}

.lotes{
    padding: 2rem;
    width: 700px;
    justify-content: center;
    background-color:var(--white);
    border: 1px solid #dddddf;
    margin: 1rem;
}

.tabela{

    td,th{
        width: 25%;
    }

}
.tabelaContainer{
    width: 440px;
}

.detalhes{
    margin-bottom: 2rem ;
    padding: 1rem;
    gap: 2rem;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--white);
    border: 1px solid #dddddf;
}

.descricao{
    background-color: var(--white);
    border: 1px solid #dddddf;
    padding: 2rem;
    display: flex;
    width: 700px;
    flex-direction: column;
    align-items: center;
}

.detalhesItem{
    width: 100%;
    display: flex;
    justify-content: center;
    p{  
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 170px;
        padding: 0.5rem;
    }
}


.observacao{
    background-color: var(--white);
    border: 1px solid #dddddf;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    h3{
        margin: 1rem 0;
    }
    p{
        background-color:#F3F3F4 ;
        color: var(--black); 
        width: 450px;
        border-radius: 0.3rem;
        padding: 1rem;
        word-wrap: break-word;
    }
    .observacaoMaior{
        height: 150px;
    }
 
   
}
.lotesContent{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 700px;
    justify-content: center;
    background-color:var(--white);
    border: 1px solid #dddddf;
    margin: 2rem;
}
.tableContainer{
    width: 600px;
    margin-top: 2rem;
}
.table{
    td,th{
        width: 30%;
    }
}